# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/Servidor/nbproject/private/
/MiddlewareUDP/nbproject/private/
/JavaApplication5/nbproject/private/
JavaApplication5/

ClienteConsumidor/nbproject/private/
